In [118]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [119]:
data = pd.read_csv("marathon/marathon_2015_2017_qualifying.csv")
data.head()

   M/F  Age  Pace  Official Time  Year  qualifying
0    1   25   296           7757  2015           1
1    1   30   298           7788  2015           1
2    1   29   299           7822  2015           1
3    1   28   300           7847  2015           1
4    1   32   300           7849  2015           1

In [120]:
train = data[data["Year"] != 2017]
test = data[data["Year"] == 2017]

In [121]:
train.head()

   M/F  Age  Pace  Official Time  Year  qualifying
0    1   25   296           7757  2015           1
1    1   30   298           7788  2015           1
2    1   29   299           7822  2015           1
3    1   28   300           7847  2015           1
4    1   32   300           7849  2015           1

In [137]:
train_list = train.values.tolist()
test_list = test.values.tolist()

In [138]:
x_train = [normalization(r[0:3]) for r in train_list]
y_train = [r[-1] for r in train_list]

x_test = [normalization(r[0:3]) for r in test_list]
y_test = [r[-1] for r in test_list]

In [139]:
model = tf.keras.models.Sequential()

In [140]:
model.add(tf.keras.layers.Dense(1, input_shape = (3,), activation="sigmoid"))

In [141]:
sgd = tf.keras.optimizers.SGD(lr = 0.1)

In [142]:
model.compile(loss="binary_crossentropy", optimizer = sgd, metrics=["accuracy"])

In [143]:
model.fit(x_train, y_train, epochs = 20)

Epoch 1/20
1664/1664 [==============================] - 1s 444us/step - loss: 0.4743 - accuracy: 0.7587
Epoch 2/20
1664/1664 [==============================] - 1s 439us/step - loss: 0.3891 - accuracy: 0.8298
Epoch 3/20
1664/1664 [==============================] - 1s 444us/step - loss: 0.3457 - accuracy: 0.8669
Epoch 4/20
1664/1664 [==============================] - 1s 456us/step - loss: 0.3182 - accuracy: 0.8875
Epoch 5/20
1664/1664 [==============================] - 1s 453us/step - loss: 0.2987 - accuracy: 0.8984
Epoch 6/20
1664/1664 [==============================] - 1s 474us/step - loss: 0.2835 - accuracy: 0.9060
Epoch 7/20
1664/1664 [==============================] - 1s 602us/step - loss: 0.2720 - accuracy: 0.9126
Epoch 8/20
1664/1664 [==============================] - 1s 472us/step - loss: 0.2629 - accuracy: 0.9154
Epoch 9/20
1664/1664 [==============================] - 1s 575us/step - loss: 0.2546 - accuracy: 0.9177
Epoch 10/20
1664/1664 [==============================] - 1s 560us/step - loss: 0.2489 - accuracy: 0.9189
Epoch 11/20
1664/1664 [==============================] - 1s 460us/step - loss: 0.2432 - accuracy: 0.9196
Epoch 12/20
1664/1664 [==============================] - 1s 447us/step - loss: 0.2386 - accuracy: 0.9201
Epoch 13/20
1664/1664 [==============================] - 1s 445us/step - loss: 0.2344 - accuracy: 0.9212
Epoch 14/20
1664/1664 [==============================] - 1s 439us/step - loss: 0.2306 - accuracy: 0.9216
Epoch 15/20
1664/1664 [==============================] - 1s 499us/step - loss: 0.2274 - accuracy: 0.9221
Epoch 16/20
1664/1664 [==============================] - 1s 450us/step - loss: 0.2238 - accuracy: 0.9224
Epoch 17/20
1664/1664 [==============================] - 1s 483us/step - loss: 0.2216 - accuracy: 0.9236
Epoch 18/20
1664/1664 [==============================] - 1s 443us/step - loss: 0.2194 - accuracy: 0.9234
Epoch 19/20
1664/1664 [==============================] - 1s 454us/step - loss: 0.2173 - accuracy: 0.9234
Epoch 20/20
1664/1664 [==============================] - 1s 436us/step - loss: 0.2154 - accuracy: 0.9234

In [152]:
res = model.predict([normalization(x_test[0])])
res

array([[1.]], dtype=float32)

In [153]:
y_test[0]

1